* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection {
    background-color: #8576f344;
}

:root {
    --bg: #f5f5f5;
    --text-white: #fff;
    --text-black: #232a31;
    --text-grey: #8f8f8f;
    --text-red: #ef5a3c;
    --text-blue: #495fef;

    --color-black-100: #687086;
    --color-white-200: #fafaf9;
    --color-white-300: #f8f9fa;
    --color-grey-100: #dedede;
    --color-grey-200: #eaeaea;
    --color-grey-300: #afafaf;
}

body {
    background: var(--bg);
    min-height: 100vh;
    font-family: var(--ibm-font);
    hyphens: auto;
    -webkit-font-smoothing: antialiased
}

h1,h2,h3,h4,h5 {
    font-family: var(--clash-grotesk)
}

a {
    color: var(--text-black);
    font-weight: 400;
    text-decoration: none;
    transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear
}
img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block
}
section {
    padding-top: 7rem
}
ul {
    list-style: none
}
blockquote {
    border-left: 5px solid var(--text-grey);
    margin-top: 1rem;
    padding: 0.25rem 0.35rem;
    line-height: 1.5em;
}
.container,.container-xs {
    width: 100%;
    max-width: 64rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    margin-left: auto;
    margin-right: auto
}
.container-xs {
    max-width: 51.25rem
}
.pb2 {
    padding-bottom: .5rem
}
.px2 {
    padding-left: .5rem;
    padding-right: .5rem
}
.my3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
.highlight {
    color: var(--text-red)
}
.flexCenter,.flexSpaceBtw {
    display: flex;
    justify-content: space-between
}
.flexCenter {
    justify-content: center
}
.hrLine {
    border: 1px dashed var(--color-grey-200)
}
.readMore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .2rem
}
.readMoreText {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: .875rem
}
.readMoreText:hover {
    color: var(--text-red);
}
.btn,.btnWrapper {
    display: flex;
    justify-content: center
}
.btnWrapper {
    margin-top: 3rem
}
.btn {
    border: 1px solid transparent;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.667;
    padding: .5rem 1rem;
    text-align: center;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    align-items: center;
    gap: .3rem
}
.whiteBg {
    background-color: var(--text-white);
    color: var(--text-black)
}
.blackBg {
    background-color: var(--text-black);
    color: var(--text-white)
}
.blackBg:hover {
    background-color: var(--text-blue);
}
.hw-1 {
    width: 2rem;
    height: 2rem
}
.hw-2 {
    width: 2.813rem;
    height: 2.813rem
}
.br-1 {
    border-radius: .75rem
}
.br-2 {
    border-radius: .938rem
}

/* NavBar */
.navFrame {
    flex: none;
    height: auto;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1
}
.header,.navBox {
    display: flex;
    align-items: center
}
.header {
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1.5rem;
    height: min-content;
    justify-content: center;
    padding: 1rem 7rem 0;
    position: relative
}
.navBox {
    gap: 4rem;
    box-sizing: border-box;
    width: fit-content;
    min-height: 2.5rem;
    padding: .5rem .7rem;
    border-radius: 1rem;
    background-color: var(--text-black);
    color: var(--text-white);
    font-size: 1rem;
    letter-spacing: -.2px;
    line-height: 1
}
.logoImg {
    width: 2rem;
    height: 2rem;
    max-width: fit-content;
    border-radius: .5rem
}
.menu,.navMenu {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 0;
    position: relative;
    width: min-content
}
.menu {
    gap: 1rem
}
.menuLink {
    color: var(--text-white)
}
.contactButton,.gitButton {
    background-color: var(--text-white);
    color: var(--text-black)
}
.contactButton {
    border-radius: .75rem;
    font-weight: 400;
    padding: .5rem
}
.gitButton {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: .375rem;
    justify-content: center;
    overflow: visible;
    position: relative;
    width: min-content;
    height: 2rem;
    padding: 0 .75rem;
    text-decoration: none;
    border-radius: .5rem
}

/* Hero */
.hero {
    margin-top: 3rem;
    border-radius: 1rem;
    padding-bottom: 5rem
}
.hero-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.3rem;
    justify-items: center
}
.heroBox {
    max-width: 48.38rem;
    padding-top: 3rem
}
.hero h1,.hero p {
    margin-bottom: 0;
    text-align: center
}
.hero h1 {
    font-family: var(--clash-grotesk);
    font-size: clamp(1.8rem,7vw,4rem);
    font-weight: 400;
    line-height: 115%;
    margin-top: .8rem
}
.hero p {
    font-size: 1.12rem;
    line-height: 1.5;
    color: var(--text-grey)
}
.socialBtn {
    display: inline-flex;
    cursor: pointer;
    margin-right: .625rem;
    align-items: center;
    justify-content: center;
    background-color: var(--text-black);
    color: var(--text-white);
    transform: perspective(1px) translateZ(0);
    transition: all .4s ease-out 0s
}
.socialBtn:hover {
    background-color: var(--text-blue);
}

/* Featured Post */
.featuredBox {
    background-color: var(--color-white-200);
    border-radius: .75rem;
    padding-bottom: 2.5rem;
    border: 1px solid var(--color-grey-100);
    padding-right: 2rem;
    padding-left: 2rem
}
.titleContent {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem
}
.titleWrapper {
    color: var(--text-white);
    background-color: var(--text-black);
    border-width: .75px;
    border-color: rgba(0,0,0,.05);
    border-radius: 1rem;
    padding: .3rem .7rem .25rem .75rem;
    box-shadow: 0 1px 2px rgba(0,0,0,.15)
}
.title {
    font-size: .875rem;
    font-weight: 400;
    text-transform: uppercase
}
.postCollection {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    grid-template-rows: auto;
    grid-auto-columns: 1fr
}
.postLink {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    max-width: 100%;
    transform: translate3d(0,0,0) scale3d(1,1,1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg,0deg);
    transform-style: preserve-3d;
    transition: 200ms ease-in-out
}
.postLink:hover {
    transform: scale(1.04)
}
.postLink:hover .postImg {
    transform: scale(1) rotate(1.2deg)
}
.postImg {
    width: 100%;
    height: 15.625rem;
    object-fit: cover;
    border-radius: .75rem;
    margin-bottom: .625rem
}
.postContent {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden
}
.postDate {
    color: var(--text-grey);
    margin-top: 1.2rem;
    margin-bottom: 1.12rem
}
.postTitle {
    margin-top: 0;
    margin-bottom: 0.625rem;
    font-size: 1.125rem
}
.postLink:hover .postTitle {
    color: var(--text-red)
}
.postBody {
    margin-bottom: 0;
    color: var(--text-grey)
}

/* Blog */
.blogIntro {
    display: flex;
    align-items: flex-end;
    grid-column-gap: 1.5rem;
    padding-bottom: 3rem
}
.blogASide {
    max-width: 16.5rem
}
.blogTitle {
    letter-spacing: -2px;
    font-size: 5rem;
    font-weight: 400;
    line-height: 100%;
    margin-top: 0;
    margin-bottom: 0
}
.projects {
    padding-bottom: 5rem
}
.projectTitle {
    font-size: 3rem;
    font-weight: 380;
    letter-spacing: -.01em;
    line-height: 110%
}
.projectGrid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem
}
.projectCard {
    display: flex;
    flex-direction: column;
    padding: 1.75rem;
    background-color: var(--color-white-200);
    border-radius: .75rem;
    border: 1px solid var(--color-grey-100);
    overflow: scroll
}
.projectCard:hover a {
    color: var(--text-red);
}
.cardHeader {
    font-size: 1.25rem;
    font-weight: 400;
    padding-bottom: .75rem
}
.projectBody {
    color: var(--color-grey-300);
    padding-bottom: 1rem
}
.tagWrapper {
    font-size: .75rem;
    color: var(--text-grey);
    padding-top: .5rem
}

/* About */
.aboutGrid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: .75fr .75fr;
    grid-auto-columns: 1fr;
    gap: 4rem;
    padding-top: 3rem
}
.aboutTitleHolder {
    margin-bottom: 1.5rem
}
.aboutContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
.aboutHeader {
    font-size: clamp(2rem,7vw,3.8rem);
    font-weight: 400;
    line-height: 1
}
.aboutSubHead,.articleBody h3 {
    font-weight: 400;
    margin-bottom: .5rem
}
.aboutSubHead {
    color: var(--text-grey);
    font-size: 1rem
}
.aboutText {
    margin-bottom: 1rem
}
.aboutSkillBox {
    background-color: var(--color-white-200);
    border: 1px solid var(--color-grey-100);
    padding-right: 2rem;
    padding-left: 2rem;
    border-radius: 1rem
}
.aboutMoreBox,.profileImg {
    border-radius: .75rem
}
.aboutMoreBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    row-gap: 1.5rem;
    padding-bottom: 2rem
}
.aboutStackHeader {
    font-family: var(--clash-grotesk);
    margin-bottom: 0.6rem;
    font-size: 1.12rem;
    font-weight: 400;
    border-bottom: 1px solid var(--color-grey-300)
}
.aboutStackGrid {
    margin-top: 0.75rem;
}
.aboutStackItem {
    display: flex;
    align-items: flex-start;
    grid-column-gap: 2.5rem;
    font-size: 0.85rem;
    color: var(--color-black-100);
    margin-left: 0.5rem
}
.badger {
    display: flex;
    padding-bottom: .5rem;
    font-size: .75rem;
    font-weight: 400;
    letter-spacing: -.03em;
    line-height: 1;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    color: var(--text-blue);
    background-color: var(--color-white-300)
}

/* Single Blog Post */
.blogPost {
    padding-top: 10rem;
    margin-top: 4rem
}
.postMeta {
    display: flex;
    color: var(--text-grey);
    font-size: .8rem;
    margin-top: 1rem
}
.postSummary {
    color: var(--text-grey);
    padding-top: 1.25rem;
    font-style: italic;
    font-weight: 300
}
.blogPostTitle {
    font-size: clamp(1.75em,4.6875vw,3em);
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: -.025em;
    margin-bottom: .75rem
}
.postAuthorImg {
    border-radius: 50%
}
.postAuthor {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-left: .75rem
}
.articleBody {
    background-color: var(--text-white);
    min-height: 70vh;
    padding-top: 2rem;
    padding-bottom: 4rem;
    margin-top: 3rem
}
.articleBody ul {
    list-style-type: disc;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-left: 1.5rem;
}
.articleBody h3 {
    font-size: 1.4rem;
    margin-top: 2rem;
    line-height: 2rem
}
.articleBody p {
    font-size: .95rem;
    font-weight: 300;
    margin-top: .75rem;
    margin-bottom: .75rem
}
/* Pre, code */
div[data-rehype-pretty-code-fragment] {
    overflow: hidden;
    background-color: rgb(255 255 255 / 0.1);
    border-radius: 0.3rem;
}
div[data-rehype-pretty-code-fragment] pre {
    overflow-x: auto;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
}
/* End Pre, code */


/* Footer */
.footer {
    margin: 3.75rem 0 0;
    padding: 2rem 0 1rem;
    font-size: .9rem
}
.footerWrapper {
    border-top: 1px solid var(--color-grey-100);
    padding-top: 1rem
}

@media (max-width:768px) {
    .container,.container-xs {
        width: 100%;
        padding-right: 1.25rem;
        padding-left: 1.25rem
    }
    .aboutGrid,.postCollection,.projectGrid, .aboutMoreBox {
        grid-template-columns: 1fr
    }
    .featuredBox {
        padding-right: 1.5rem;
        padding-left: 1.5rem
    }
}
